$primary: #7ee081;
$border: 3px solid black;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin-left: 30px;
    background-color: $primary;
    padding: 10px 30px;
    border: 1px solid black;
    cursor: pointer;
  }
  div:hover {
    background-color: white;
  }
}
.hasGroup {
  background-color: $primary !important;
}

.marked {
  background-color: aqua !important;
}

section {
  border: $border;
}

.row {
  display: flex;
}

.row:nth-child(3n):not(:last-child) {
  border-bottom: $border;
}

.hasValue {
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 30px;
}

.noValue {
  align-items: flex-end;
  justify-content: center;
  p {
    text-align: center;
    padding: 3px;
    font-size: 10px;
  }
}

.row:nth-child(2n + 1) > .cell:nth-child(2n),
.row:nth-child(2n) > .cell:nth-child(2n + 1) {
  background-color: $primary;
}

.cell:nth-child(3n):not(:last-child) {
  border-right: $border;
}

.cell {
  flex: 1;
  width: 90px;
  height: 90px;
  display: flex;
}
